@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
button{
    width: 250px;
    height: 80px;
    font-family: 'Silkscreen', cursive;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    box-shadow: darkblue;
    font-size: 40px;
    box-sizing: border-box;
    animation-duration: 3s;
    animation-name: slidein;
}

button:hover{
    background-color: #00471b;
}

.boton-clic{
    background-color: #002ead;
}

.boton-reiniciar{
    background-color: #F50505;
}

@keyframes slidein {
    from {
      clip-path: inset(100% 0 0 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:top-left"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-top-left both;
  }