@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    margin-bottom: 15px;
    font-family: 'Silkscreen', cursive;
    animation: 1.2s slidein infinite;
}


  @keyframes slidein {
    0% { background: linear-gradient(90deg, rgba(131, 30, 30, 0.98) 50%, rgba(91, 228, 187, 0.96) 0%); }
    50% { background: linear-gradient(90deg, rgba(27, 87, 143, 0.98) 50%, rgba(48, 25, 175, 0.96) 0%); }

    55% { background: linear-gradient(90deg,  rgba(0, 68, 80, 0.96) 50%, rgba(54, 165, 122, 0.98) 0%); }
    80% { background: linear-gradient(90deg, rgba(32, 80, 170, 0.96)  50%, rgba(0, 0, 0, 0.98) 0%); }

    85% { background: linear-gradient(90deg, rgba(102, 119, 106, 0.96) 50%, rgba(17, 201, 115, 0.94) 0%); }
    100% { background: linear-gradient(90deg, rgba(71, 161, 221, 0.96) 50%, rgba(0, 0, 0, 0.94) 0%); }
    }